@import '../../styles/mixins.scss';

.prospecction_icon {
  width: 50px;
  height: 50px;

  path {
    fill: #000;
  }
}

.report_icon {
  width: 50px;
  height: 50px;
}

.sellers {
  display: flex;
  justify-content: center;
  width: 100%;

  &_select {
    -webkit-appearance: none!important;
    appearance: none!important;
    background: url('../../images/icons/Arrow.svg') #fff 90% no-repeat;
    background-size: 1rem;
    border: 1px solid #e9eaf3;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(25,93,194,.07);
    color: #60666d;
    font-size: 1rem;
    margin: 1rem;
    padding: 0.7rem;
    text-align: center;
    text-transform: capitalize;
    transition: .3s cubic-bezier(.075,.82,.165,1);
    width: 10rem;
  }
}

.date_range {
  max-height: 45px;

  &>div {
    padding: 0.7rem;
    border: none!important;
    background-color: #fff;
    border-radius: 5px;
  }
}

.table-center {
  margin: auto;
}

.activity_button {
  display: flex;
  gap: 1rem;
}

.lead_status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.ativo, .ganho, .perdido {
  font-size: 0.8rem!important;
  text-transform: uppercase;
  font-weight: bold!important;
}

.ganho::after, .perdido::after {
  text-transform: lowercase;
}

.ativo {
  color: #03a9f4!important;
  background-color: #e9f8ff;
}

.ganho {
  color: green!important;
  background-color: #dcfadd;
}

.perdido {
  color: red!important;
  background-color: #ffeceb;
}

.container_panel {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  .title_panel {
    padding: 4rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 1.7rem;
    }
  }

  .title_info {
    margin: 0.5rem;
    text-align: center;
  }

  .box_panel_add {
    display: flex;
    justify-content: center;
    margin: 1rem;
    gap: 1rem;
    align-items: center;
  }

  .box_panel_activity {
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 5px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
    border: 1px solid #E9EAF3;
    background: #FFF;
    box-shadow: 0px 2px 10px 0px rgba(25, 93, 194, 0.07);
    font-size: 17.6px;

    svg {
      width: 2.5rem;
      height: 2.5rem;
    }

    @media print {
      display: none;
    }
  }

  .content_panel {
    width: 97%;
    // max-width: 1300px;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;

    @media print {
      display: none;
    }

    h2 {
      margin: 1rem 0;
      text-align: center;
    }

    .content_list {
      max-width: 1200px;
      width: 100%;
      margin: auto;
    }
    

    .box_panel {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 3rem 0;
      gap: 0.5rem;
      text-align: center;


          &:hover {
            filter: saturate(1.5);
          }
        }

      .box_activity {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
        overflow-x: auto;
        z-index: 0;
        padding: 0.1rem;
        
        table {
          background: #FFF;
          border-collapse: collapse;

          thead {
            border: 1px solid #313131!important;
            height: 3rem;
            border-right: none;
            height: 70px;

            th {
              padding: 0 0.5rem;
              color: #fff;
              background-color: #313131!important;
            }
          }

          tbody {
            td {
              height: 39px;
              font-weight: 100;
              padding: 0;
              white-space: nowrap;

              .circle {
                border-radius: 50%;
                padding: 0.7rem;
                margin: 0.2rem 0;
              }

              button {
                height: 40px;
              }

              &:nth-child(-n + 6) {
                border: 1px solid #ccc;
                padding: 0 0.5rem;
              }
            }
          }

          .info_anotacao {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            h3 {
              text-align: center;
            }

            .anotacao {
              background-color: #ffd;
              display: flex;
              align-items: center;
              justify-content: space-between;
            }

            .edit_anotacao {
              outline: none;
              max-width: 90%;
              min-height: 20px;
            }

            .anotacao, .edit_anotacao {
              width: 86%;
              padding: 1rem 1rem 1rem 2rem;
              text-align: center;
              border-radius: 10px;
              white-space: normal;
              border: 1px solid #ddd;
            }

            .edit, .delete {
              border: none;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
