@import '../../styles/mixins.scss';

.container-panel {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .title-panel {
    color: #fff;
    padding: 4rem 0;
    box-shadow: inset 0 4px 4px rgb(0 0 0 / 25%);
    background: linear-gradient(
        179.7deg,
        #f39200 0.26%,
        rgba(243, 146, 0, 0) 298.07%
      ),
      #d9d9d9;

    h2 {
      font-size: 2rem;
    }
  }

  .content-panel {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;

    .box-panel {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 3rem 0;
      gap: 2rem;

      &__add {
        display: flex;
        justify-content: center;

        button {
          display: flex;
          align-items: center;
          gap: 1rem;
          padding: 1.5rem;
          border: none;
          background-color: #006633;
          color: #fff;
          border-radius: 5px;
          transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;

          .icon-user {
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            background: url(../../images/icons/User.svg) no-repeat;
            background-size: 1.5rem;
          }

          &:hover {
            filter: saturate(1.5);
          }
        }
      }

      &__users {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        table {
          border-collapse: collapse;
          margin: 0 1rem;

          thead {
            background-color: #006633;
            height: 3rem;
            color: #fff;

            th {
              &:last-child {
                width: 4rem;
              }
            }
          }

          tbody {
            background-color: #ececec;

            th, td {
              font-weight: 100;
            }

            td {
              height: 39px;
              &:nth-child(-n + 5) {
                border: 1px solid #ccc;
              }

              .btn-edit {
                  border: 1px solid #000 !important;
                  @include btnTable("../../images/icons/Edit.svg", #000, 100%);
                }
            }
          }
        }
      }
    }
      // .panel {
      //   display: flex;
      //   justify-content: center;
      //   gap: 1rem;
      //   align-items: center;
      //   flex-direction: column;
      //   width: 15rem;
      //   border-radius: 10px;
      //   list-style: none;
      //   height: 15rem;
      //   color: #fff;
      //   background-color: #006633;
      //   cursor: pointer;
      //   transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;

      //   &:hover {
      //     transform: scale(1.1);
      //   }
      // }

    // .add-panel {
    //   &__btn {
    //     width: 3rem;
    //     height: 3rem;
    //     background: url(../../images/icons/Add.svg) #f39200 50% no-repeat;
    //     background-size: 1rem;
    //     border: none;
    //     border-radius: 50%;
    //     transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;

    //     &:hover {
    //       transform: scale(1.3);
    //     }
    //   }
    // }
  }
}
