@import '../../styles/mixins.scss';

.modal-createAdmin {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgb(0 0 0 / 70%);

    .box-createAdmin {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 420px;
        background-color: #fff;
        border-radius: 5px;
        padding: 1rem;

        div {
            display: flex;
            justify-content: flex-end;
            width: 100%;
        
            .btn-close {
              width: 30px;
              height: 30px;
              background: url(../../images/icons/CloseB.svg) 50% no-repeat;
              background-size: 1rem;
              border: none;
            }
          }

          h4 {
            font-size: 1.5rem;
            margin: 1rem 0 2rem 0;
          }
        
          .form-createAdmin {
            display: flex;
            flex-direction: column;

            &__double {
              display: flex;
              justify-content: space-between;
              gap: 1rem;
            }

            &__label {
                height: 4.5em;
                display: flex;
                flex-direction: column;
                margin: 0.1rem 0;
            }

            &__color {
              display: flex;
              align-items: center;
              justify-content: space-around;
              padding-bottom: 1rem;
            }

            &__text {
              padding: 1rem;
              border-radius: 5px;
              background-color: #eee;
              border: none;
              transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;

              &:focus {
                  border-bottom: 2px solid #F39200;
              }
          }

            select {
              padding: 0.5rem;
              height: 3.1rem;
              border-radius: 5px;
              background-color: #eee;
              border: none;
              transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
            }

            &__btn {
                margin: 1rem 0;
                @include btnForm(#fff, #F39200, 100%);
            }
          }
    }
}