.filter-container {
  display: flex;
  height: 53px;
}

.filter {
  overflow: visible!important;
}

.filter-title {
  padding: 0.8rem;
  font-weight: bold;
  font-size: 0.8rem;
}

.filter-box2 {
  padding: 0.3rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filter-header {
  display: flex;
  justify-content: space-between;
}

.filter-search {
  margin: 0 1rem;
  display: flex;
  gap: 0.3rem;
}

.filter-search-item {
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid rgba(49, 49, 49, 0.5);

  span {
    &:first-child {
      font-size: 0.8rem;
    }
    &:nth-child(2) {
      font-weight: bold;
      color: #2e7d32;
    }
  }
}

.filter-item {
    display: flex;
    width: 9rem;
    justify-content: space-between;
    padding: 0.4rem 1rem;
    cursor: pointer;

    &:hover {
      background-color: #f3f3f3;
    }

    svg {
      color: #2e7d32;
    }
  }