.filter-container {
  display: flex;
}

.filter-title {
  padding: 0.8rem;
  font-weight: bold;
  font-size: 0.8rem;
}

.filter-box2 {
  padding: 0.3rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filter-header {
  display: flex;
  justify-content: space-between;
}

.filter-item {
    display: flex;
    width: 9rem;
    justify-content: space-between;
    padding: 0.4rem 1rem;
    cursor: pointer;

    &:hover {
      background-color: #f3f3f3;
    }

    svg {
      color: #2e7d32;
    }
  }