@import '../../styles/mixins.scss';

@media (max-width: 650px) {
  .desktop {
    display: none!important;
  }
}

@media (min-width: 650px) {
  .mobile {
    display: none!important;
  }
}

.prospecction_icon {
  width: 50px;
  height: 50px;

  path {
    fill: #000;
  }
}

.activity_button {
  display: flex;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: 650px) {
    gap: 0.5rem;

    button {
      width: 48%!important;
    }
  }
}

.lead_status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.ativo, .orcamento, .orcamento_negado, .apresentacao, .ganho, .perdido {
  font-size: 0.8rem!important;
  text-transform: uppercase;
  font-weight: bold!important;
}

.ganho::after, .perdido::after {
  text-transform: lowercase;
}

.ativo {
  color: #03a9f4!important;
  background-color: #e9f8ff;
}

.orcamento {
  color: #f48c03!important;
  background-color: #fff9e9;
}
.orcamento_negado {
  color: #f44b03!important;
  background-color: #ffeee9;
}

.apresentacao {
  color: rgb(18, 108, 252)!important;
  background-color: #dce9fa;
}

.ganho {
  color: green!important;
  background-color: #dcfadd;
}

.perdido {
  color: red!important;
  background-color: #ffeceb;
}

.container_panel {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  .title_panel {
    padding: 4rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 650px) {
      padding: 0!important;
    }

    h2 {
      font-size: 1.7rem;
    }
  }

  .title_info {
    margin: 0.5rem;
    text-align: center;
  }

  .content_panel {
    width: 97%;
    // max-width: 1300px;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;

    @media (max-width: 650px) {
      width: 100%!important;
    }

    h2 {
      margin: 1rem 0;
      text-align: center;

      @media (max-width: 650px) {
        margin: 0.2rem 0!important;
      }
    }

    .content_list {
      max-width: 1200px;
      width: 100%;
      margin: auto;
    }

    .box_panel {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 3rem 0;
      gap: 1rem;
      text-align: center;

      &_add {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        &_activity {
          margin: 0;
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 1rem;
          padding: 1.5rem;
          border-radius: 5px;
          transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
          border: 1px solid #E9EAF3;
          background: #FFF;
          box-shadow: 0px 2px 10px 0px rgba(25, 93, 194, 0.07);

          svg {
            width: 2.5rem;
            height: 2.5rem;
          }
        }

          p {
            font-size: 17.6px;
          }

          &:hover {
            filter: saturate(1.5);
          }
        }
      }

      .box_activity {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
        overflow-x: auto;
        z-index: 0;
        padding: 0.1rem;
        
        table {
          background: #FFF;
          border-collapse: collapse;

          thead {
            border: 1px solid #313131!important;
            height: 3rem;
            border-right: none;
            height: 70px;

            th {
              padding: 0 0.5rem;
              color: #fff;
              background-color: #313131!important;
            }
          }

          tbody {
            td {
              height: 39px;
              font-weight: 100;
              padding: 0;
              white-space: nowrap;

              .circle {
                border-radius: 50%;
                padding: 0.7rem;
                margin: 0.2rem 0;
              }

              button {
                height: 40px;
              }

              &:nth-child(-n + 6) {
                border: 1px solid #ccc;
                padding: 0 0.5rem;
              }
            }
          }

          .info_step {
            background-color: #f4f4f4;
            border-radius: 5px;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.3rem;
            border: 1px solid #ccc;
            text-wrap: wrap;
            text-align: center;
          }

          .info_anotacao {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            @media (max-width: 650px) {
              margin: 1rem 0 2rem 0!important;
            }

            h3 {
              text-align: center;
            }

            .box_stepper {
              width: 90%;
              margin: 0.5rem 0;
              overflow-x: auto;
              display: flex;
              padding: 1rem;
              
              @media (min-width: 650px) {
                justify-content: center;
              }

              @media (max-width: 650px) {
                padding: 1rem;
                max-width: 300px;
              }

              div {
                width: 780px;
              }
            }

            .anotacao {
              background-color: #ffd;
              display: flex;
              align-items: center;
              justify-content: space-between;
            }

            .edit_anotacao {
              outline: none;
              max-width: 90%;
              min-height: 20px;
            }

            .anotacao, .edit_anotacao {
              width: 86%;
              padding: 1rem 1rem 1rem 2rem;
              text-align: center;
              border-radius: 10px;
              white-space: normal;
              border: 1px solid #ddd;
            }

            .edit, .delete {
              border: none;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
