@import "../../styles/mixins.scss";

.modal-visit {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  bottom: 0;
  background: rgb(0 0 0 / 70%);
  z-index: 111;
  overflow: hidden;

  .modal-box-visit {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 550px;
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem;

    &__close {
      display: flex;
      justify-content: flex-end;
      width: 100%;

      .btn-close {
        width: 30px;
        height: 30px;
        background: url(../../images/icons/CloseB.svg) 50% no-repeat;
        background-size: 1rem;
        border: none;
      }
    }

    h4 {
      font-size: 1.5rem;
      margin: 1rem 0;
    }

    .form-visit {
      width: 90%;
      display: flex;
      flex-direction: column;

      &__double {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .form-visit__label {
          width: 45%;
        }

        select {
          width: 45%;
        }

      }

      &__label {
        display: flex;
        flex-direction: column;
        margin: 0.4rem 0;

        .notice {
          font-size: 0.8rem;
          font-weight: bold;
        }
      }

      p {
        margin: 0.4rem;
      }

      &__text {
        padding: 1rem;
        border-radius: 5px;
        background-color: #eee;
        border: none;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;

        &:disabled {
          color: #000;
          background-color: #d1d1d1;
        }

        &:focus {
          border-bottom: 2px solid #f39200;
        }

    }

    &__info{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 1rem 0;
      padding: 1rem;
      border-radius: 5px;
      border: 1px solid;
      width: 40%;

      span {
        margin-bottom: 1rem;
      }

    }

    .prev {
      background-color: #fff3cd;
      color: #856404;
      border-color: #ffeeba;
    }

    .visits {
      color: #0c5460;
      background-color: #d1ecf1;
      border-color: #bee5eb;
    }
    
    &__color {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding-bottom: 1rem;
    }

    &__exemple {
      font-weight: 100;

      p {
        padding: 0.5rem;
      }
    }

    .radio {
      margin: 1rem 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;

      label {
        margin: 0 1rem 0 0.3rem;
      }
    }

      .margin-top {
        margin-top: 1rem;
      }

      select {
        padding: 0.5rem;
        height: 3.1rem;
        border-radius: 5px;
        background-color: #eee;
        border: none;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
      }

      &__btn {
        margin: 1.5rem 0;
        @include btnForm(#fff, #f39200, 100%);
      }
    }
  }
}
