@import '../../styles/mixins.scss';

.prospecction_icon {
  width: 50px;
  height: 50px;

  path {
    fill: #000;
  }
}

.table-center {
  margin: auto;
}

.activity_button {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.lead_status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

// Img da Fatura

.fatura_container {
  display: flex;
  height: 100%;
  justify-content: center;
}

.fatura {
  margin: 4rem 0 2rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  min-width: 400px;
  justify-content: center;

  span {
    margin-left: 60px;
  }

  img {
    max-width: 100%;
    padding: 0 2rem;
  }

  &_buttons {
    justify-content: center;
    margin-bottom: 1rem;
  }
}

// Dialog de confirmar orçamento

.value_container {
  display: flex;
  flex-direction: column;
  margin: 1rem 1.5rem;
  gap: 1.5rem;

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &:last-child {
      margin-bottom: 1rem;
    }

    div {
      display: flex;
      gap: 1rem;
      justify-content: center;
    }
  }
}

.ativo, .ganho, .perdido {
  font-size: 0.8rem!important;
  text-transform: uppercase;
  font-weight: bold!important;
}

.ganho::after, .perdido::after {
  text-transform: lowercase;
}

.ativo {
  color: #03a9f4!important;
  background-color: #e9f8ff;
}

.ganho {
  color: green!important;
  background-color: #dcfadd;
}

.perdido {
  color: red!important;
  background-color: #ffeceb;
}

.container_panel {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  .title_panel {
    padding: 4rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 1.7rem;
    }
  }

  .title_info {
    margin: 0.5rem;
    text-align: center;
  }

  .content_panel {
    width: 97%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
    gap: 1rem;

    h2 {
      margin: 1rem 0;
      text-align: center;
    }

    .box_panel {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    // .content_list {
    //   max-width: 1200px;
    //   width: 100%;
    //   margin: auto;
    // }

      .box_activity {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
        overflow-x: auto;
        z-index: 0;
        padding: 0.1rem;
        
        table {
          background: #FFF;
          border-collapse: collapse;

          thead {
            // border: 1px solid #313131!important;
            height: 3rem;
            border-right: none;
            height: 70px;

            th {
              padding: 0 0.5rem;
              // color: #fff;
              // background-color: #fff!important;
            }
          }

          tbody {
            td {
              height: 39px;
              font-weight: 100;
              padding: 0;
              white-space: nowrap;

              .circle {
                border-radius: 50%;
                padding: 0.7rem;
                margin: 0.2rem 0;
              }

              button {
                height: 40px;
              }

              &:nth-child(-n + 6) {
                padding: 0.5rem 0.5rem;
              }
            }
          }

          .info_anotacao {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            h3 {
              text-align: center;
            }

            .info_content {
              display: flex;
              gap: 0.5rem;
              width: 90%;
              flex-wrap: wrap;
              justify-content: space-around;
              border-radius: 5px;
              border: 1px solid #ccc;
              background-color: #f4f4f4;
              padding: 1rem;

              &_item {
                display: flex;
                gap: 0.3rem;
                max-width: 300px;
                flex-direction: column;
                text-decoration: none;

                li {
                  display: flex;
                  max-width: 100%;
                  flex-wrap: wrap;
                  gap: 0.3rem;
                  text-wrap: wrap;

                  h3 {
                    margin-bottom: 0.3rem;
                  }
                }
              }

              &_value {
                flex-direction: row!important;
                gap: 1rem!important;
                
                li {
                  flex-wrap: nowrap!important;
                }
              }
            }

            .anotacao {
              background-color: #ffd;
              display: flex;
              align-items: center;
              justify-content: space-between;
            }

            .edit_anotacao {
              outline: none;
              max-width: 90%;
              min-height: 20px;
            }

            .anotacao, .edit_anotacao {
              width: 86%;
              padding: 1rem 1rem 1rem 2rem;
              text-align: center;
              border-radius: 10px;
              white-space: normal;
              border: 1px solid #ddd;
            }

            .edit, .delete {
              border: none;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
