@import '../../styles/mixins.scss';

.dialog-content {
  max-width: 350px;
  display: flex;
  text-align: center;
  flex-direction: column;
  
  span {
    font-size: 0.9rem;
    margin: 1rem 0;
  }
}

.title-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  flex-direction: column;
}

.container-panel {
  height: 100%;
  display: flex;
  flex-direction: column;


  .content-panel {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;

    .content-alerts {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: 3rem 0;
      gap: 5rem;

      .alert {
        border-radius: 5px;
        padding: 1rem 1rem 2rem 1rem;
        border: 1px solid #E9EAF3;
        background: #FFF;
        box-shadow: 0px 2px 10px 0px rgba(25, 93, 194, 0.07);
        max-width: 330px;
        width: 85%;

        &__header {
          margin-bottom: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 1rem;

          h2 {
            font-size: 1.15rem;
            font-weight: bold;
          }

          svg {
            width: 4rem;
            height: 4rem;
            fill: #6b6b6b;
          }
        }

        &__info {
          margin: 1rem 0;
          text-align: center;

          a {
            display: block;
            margin: 1rem 0;
            color: #111;
          }
        }

        &__footer {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .alert-none {
        margin-top: 3rem;
        font-size: 4rem;
        color: #cdcdcd;
      }
    }
  }
}
