.container-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  height: 5rem;
  max-height: 5rem;
  background-color: #f3f3f3;
  border-bottom: 1px solid #b8b8b8;

  &__logo {
    margin-left: 4rem;
    display: flex;
    justify-content: center;

    a {
      height: 70%;
      margin: auto;

      img {
        height: 100%;
      }
    }
  }

  &__nav {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    a {
      display: block;
      height: 3.5rem;
      border: none;
      border-radius: 50%;
      width: 3.5rem;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;

      &:hover {
        background-color: #b8b8b8;
      }
    }

    .admin {
      background: url(../../images/icons/Admin.svg) 50% no-repeat;
      background-size: 50%;
    }

    .loggout {
      background: url(../../images/icons/Loggout.svg) 50% no-repeat;
      background-size: 50%;
    }
  }
}
