// @media (max-width: 550px) {
//   .container-header__nav {
//     gap: 1rem!important;
//     display: none!important;
//   }
// }

@media (min-width: 550px) {
  .nav{
    display: none!important;
  }
}

.icon-black {
  path {
    fill: #111;
  }
}

.icon-notification {
  path {
    scale: 1.1;
  }
}

.notification-content {
  max-width: 350px;
  width: 350px;
  padding: 1rem 0 0 0;

  .notification-title {
    font-weight: bold;
    text-align: center;
  }

  ul {
    margin-top: 1rem;
    list-style:none;
    display: flex;
    flex-direction: column;

    li {
      padding: 1rem 0.2rem 1rem 1rem;
      display: flex;
      border-top: 1px solid #dfdede;
      font-size: 0.9rem;
      align-items: center;
      justify-content: center;
      gap: 0.7rem;

      .notification-type {
        display: flex;
        gap: 0.5rem;
      }

      .notification-text{
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
      }

      button {scale: 0.9;}

      h3 {
        color: #ccc;
        padding: 1rem;
      }
    }
  }
}

.container-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  height: 5rem;
  max-height: 5rem;
  border: 1px solid #E9EAF3;
  background: #FFF;
  box-shadow: 0px 2px 10px 0px rgba(25, 93, 194, 0.07);

  &__logo {
    margin-left: 1rem;
    width: 13rem;
    display: flex;
    justify-content: center;

    a {
      height: 100%;
      margin: auto;
      display: flex;

      img {
        width: 100%;
        //height: 60%;
        margin: auto;
      }
    }
  }

  &__nav {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;

    a {
      display: block;
      height: 2rem;
      border: none;
      border-radius: 50%;
      width: 2rem;
      //transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
      display: flex;

      &:hover {
        scale: 1.1;
      }

      svg {
        margin: auto;
        width: 80%;
        height: 80%;
        fill: #111;
      }
    }
  }

  .nav {
    display: flex;
    margin: 0rem 1rem;
  }

  .nav-links.open {
    display: flex!important;
    margin-top: 5rem!important;
  }

  .menu-icon {
    background: none;
    border: none;
    cursor: pointer;
  }

  // .nav-links {
  //   list-style-type: none;
  //   margin: 0;
  //   padding: 0;
  //   z-index: 1111;
  //   flex-direction: column;
  //   display: none;
  //   position: absolute;
  //   background-color: #ffffff;
  //   width: 100%;
  //   right: 0;

  //   li {
  //     margin: 0 10px;
  //     display: flex;
  //     justify-content: center;
  //     gap: 1rem;
  //     height: 50px;
  
  //     a {
  //       color: #000000;
  //       font-weight: normal;
  //       padding: 0.5rem;
  //       display: flex;
  //       gap: 0.5rem;
  //       text-decoration: none;
  //       align-items: center;
  //       transition:cubic-bezier(.45,.05,.35,.9) 0.1s;
  //       justify-content: center;
  //     }
  
  //     svg {
  //       height: 100%;
  //       max-height: 40px;
  //     }
  //   } 
  // }
}
