.container-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  height: 5rem;
  max-height: 5rem;
  background-color: #f3f3f3;
  border-bottom: 1px solid #b8b8b8;

  &__logo {
    margin-left: 1rem;
    width: 13rem;
    display: flex;
    justify-content: center;

    a {
      height: 100%;
      margin: auto;
      display: flex;

      img {
        width: 100%;
        //height: 60%;
        margin: auto;
      }
    }
  }

  &__nav {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;

    a {
      display: block;
      height: 2rem;
      border: none;
      border-radius: 50%;
      width: 2rem;
      //transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
      display: flex;

      &:hover {
        scale: 1.1;
      }

      svg {
        margin: auto;
        width: 90%;
        height: 90%;
        fill: #111;
      }
    }

    .admin {
      background: url(../../images/icons/Admin.svg) 50% no-repeat;
      background-size: 80%;
    }

    .loggout {
      background: url(../../images/icons/Loggout.svg) 50% no-repeat;
      background-size: 80%;
    }
  }
}
