@import "../../styles/mixins.scss";

@media (max-width: 930px) {
 .table-visit {
  overflow-x: auto;
 }
}

.container-schedule {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;

  .title-schedule {
    color: #fff;
    padding: 4rem 0;
    box-shadow: inset 0 4px 4px rgb(0 0 0 / 25%);
    background: linear-gradient(
        179.7deg,
        #f39200 0.26%,
        rgba(243, 146, 0, 0) 298.07%
      ),
      #d9d9d9;

    h2 {
      font-size: 2rem;
    }
  }

  .content-schedule-visit {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: auto;

    .box-schedule-visit {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 3rem 0;
      gap: 2rem;

      &__add {
        display: flex;
        justify-content: center;

        button {
          display: flex;
          align-items: center;
          gap: 1rem;
          padding: 1.5rem;
          border: none;
          color: #fff;
          border-radius: 5px;
          transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;

          .icon-visit {
            display: block;
            width: 1.5rem;
            height: 2rem;
            background: url(../../images/icons/Visit.svg) no-repeat;
            background-size: 1.5rem;
          }
        }

        .visit {
          background-color: #006633;
        }

        .lunch {
          background-color: #202020;
        }
      }


      .schedule-month {
        &__select {
          width: 15rem;
          padding: 1rem;
          border: rgb(163, 163, 163) 1px solid;
          border-radius: 5px;
          color: #60666d;
          font-size: 1.2rem;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background: url(../../images/icons/Arrow.svg) #fff 90% no-repeat;
          background-size: 1rem;
          text-align: center;
          text-transform: capitalize;
          transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
          font-family: "Open Sans", "Helvetica Neue", "Segoe UI", "Calibri",
            "Arial", sans-serif;

          &:focus,
          &:hover {
            outline: none;
          }
        }
      }

      .container-table {
        width: 100%;
        overflow-x: auto;
      }
      .table-visit {
        border-collapse: collapse;
        display: block;
        position: relative;
        margin:1rem;
        box-shadow: 0 4px 4px rgb(0 0 0 / 25%);

        thead {
          border: 1px solid #006633;
          background-color: #006633;
          height: 3rem;
          color: #fff;
          border-right: none;

          th, td {
            padding: 1rem;
          }
        }

        tbody {
          background-color: #fff;
          border-bottom: 1px solid;
          
          .table {
            opacity: 1;
          }

          .border-top {
            border-top: solid #000;
          }

          .border-bottom {
            border-bottom: solid #000;
          }

          .visited {
            position: absolute;
            margin: auto;
            width: 3.5rem;
            height: 2.5rem;
            background: url(../../images/icons/Done.svg) center no-repeat;
            background-size: 1rem;
          }

          .table-confirm {
            td {
              &:nth-child(-n + 9) {
                opacity: 0.3;
                background-color: #fff;
                border-color: #ccc !important;
                border-top: none;
              }
            }
          }

          td {
            font-weight: 100;
            height: 40px;
            max-height: 40px;
            border: 1px solid #ccc;
            border-right: none;
            border-top: none;

            &:last-child, &:first-child {
              display: flex;
              border: none;
              padding: 0;
            }

            &:nth-child(10n) {
              border-right: 1px solid #ccc;
            }

            .btn {
              &-edit {
                @include btnTable("../../images/icons/Edit.svg", #000);
              }

              &-delete {
                @include btnTable("../../images/icons/Delete.svg", #c90707);
              }

              &-confirm {
                @include btnTable("../../images/icons/DoneW.svg", #0eb05f);
              }

              &-cancel {
                @include btnTable("../../images/icons/CloseW.svg", #474747);
              }

              &-add {
                @include btnTable("../../images/icons/Add.svg", #f39200, 100%);
              }
            }
          }

          .bold {
            font-weight: 600;
          }

          .bg-important {
            border: 1px solid #006633;
            background-color: #b7e1cd;
          }
        }
      }
    }
  }
}
