@import "../../styles/mixins.scss";

@media (max-width: 930px) {
 .table-visit, .table-finance{
  overflow-x: auto;
 }
}

@media print {
  .schedule-month, .box-schedule-visit, .print {
    display: none;
  }
}

.container-schedule {
  display: flex;
  flex-direction: column;

  .title-schedule {
    color: #fff;
    padding: 4rem 0;
    box-shadow: inset 0 4px 4px rgb(0 0 0 / 25%);
    background: linear-gradient(
        179.7deg,
        #f39200 0.26%,
        rgba(243, 146, 0, 0) 298.07%
      ),
      #d9d9d9;

    h2 {
      font-size: 2rem;
    }
  }

  .content-schedule-visit {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: auto;

    .box-schedule-visit {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 3rem 0;
      gap: 2rem;

      &__add {
        display: flex;
        justify-content: center;

        button {
          display: flex;
          align-items: center;
          gap: 1rem;
          padding: 1.5rem;
          border: none;
          color: #fff;
          border-radius: 5px;
          transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;

          .icon-visit {
            display: block;
            width: 1.5rem;
            height: 2rem;
            background: url(../../images/icons/Visit.svg) no-repeat center;
            background-size: 1.5rem;
          }

          .icon-lunch {
            display: block;
            width: 1.5rem;
            height: 2rem;
            background: url(../../images/icons/Lunch.svg) no-repeat center;
            background-size: 1.5rem;
            filter: invert(100%);
          }
        }

        .visit {
          background-color: #006633;
        }

        .lunch {
          background-color: #202020;
        }
      }


      .schedule-month {
        &__select {
          width: 15rem;
          padding: 1rem;
          border: rgb(163, 163, 163) 1px solid;
          border-radius: 5px;
          color: #60666d;
          font-size: 1.2rem;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background: url(../../images/icons/Arrow.svg) #fff 90% no-repeat;
          background-size: 1rem;
          text-align: center;
          text-transform: capitalize;
          transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
          font-family: "Open Sans", "Helvetica Neue", "Segoe UI", "Calibri",
            "Arial", sans-serif;

          &:focus,
          &:hover {
            outline: none;
          }
        }
      }

      .container-table {
        width: 100%;
        overflow-x: auto;
        z-index: 0;
      }
      .table-visit {
        border-collapse: collapse;
        display: block;
        position: relative;
        margin:1rem;
        box-shadow: 0 4px 4px rgb(0 0 0 / 25%);

        thead {
          border: 1px solid #006633;
          background-color: #006633;
          height: 3rem;
          color: #fff;
          border-right: none;

          th, td {
            padding: 1rem;
          }

          .icons {
            width: 0.5rem;
          }
        }

        tbody {
          background-color: #fff;
          border-bottom: 1px solid;
          
          .table {
            opacity: 1;
          }

          .visited {
            position: absolute;
            margin: auto;
            width: 3.5rem;
            height: 2.5rem;
            background: url(../../images/icons/Done.svg) center no-repeat;
            background-size: 1rem;
          }

          .table-confirm {
            td {
              &:nth-child(-n + 12) {
                opacity: 0.3;
                background-color: #fff;
                border-color: #ccc !important;
                border-top: none;
              }
            }
          }

          td {
            font-weight: 100;
            height: 30px;
            max-height: 30px;
            border: 1px solid #ccc;
            border-right: none;
            border-top: none;

            &:first-child {
              display: flex;
              border: none!important;
              padding: 0;
            }

            &:nth-child(12n) {
              border-right: 1px solid #ccc;
            }

            .btn {
              &-edit {
                @include btnTable("../../images/icons/Edit.svg", #000);
              }

              &-delete {
                @include btnTable("../../images/icons/Delete.svg", #c90707);
              }

              &-confirm {
                @include btnTable("../../images/icons/DoneW.svg", #0eb05f);
              }

              &-cancel {
                @include btnTable("../../images/icons/CloseW.svg", #474747);
              }

              &-add {
                @include btnTable("../../images/icons/Add.svg", #f39200, 100%);
                border: 1px solid #f39200!important;
                top: 1px;
              }
            }
          }
          
        }
      }

      // ===================== Financeiro ======================= //
      .bg-total {
        background-color: #000;
        color: #fff;
        
        td {
          font-weight: 600!important;
        }
      }

      .container-info {
        display: flex;
        min-width: 610px;
        max-width: 610px;
        justify-content: center;
        margin: 2rem auto;
      }

      .table-center {
        margin: auto;
        min-width: 700px;
      }

      .end {
        thead {
          background-color: #000!important;
          border: 1px solid #000!important;
        }

        tbody {
          border-right: 1px solid #ccc;

          td {
            background-color: #e2e2e2;
            font-weight: 600!important;
          }

          tr {
            &:last-child {
              td {
                background-color: #000;
              }
            }
          }
        }
      }

      .table-finance {
        border-collapse: collapse;

        thead {
          border: 1px solid #006633;
          background-color: #006633;
          height: 3rem;
          color: #fff;
          border-right: none;
  
          th, td {
            padding: 1rem;
          }
        }

         tbody {
           td {
             font-weight: 100;
             height: 40px;
             max-height: 40px;
             border: 1px solid #ccc;
             border-right: none;
             border-top: none;
             padding: 0 0.5rem;
           }
         }

        }

        .last {
         tbody {
           td {
             border-right: 1px solid #ccc;
           }
         }
        }

        .print {
          max-width: 350px;
          margin: 2rem auto;

          .btn {
            &-print {
              @include btnForm(#fff, #f39200, 100%);
            }
          }
        }
    // ======================================================== //
    }

    .bold {
      font-weight: 600!important;
    }

    .bg-important {
      background-color: #d9ead3!important;
    }

    .bg-important-2 {
      background-color: #f4cccc!important;
    }

  }
}

.action {
  display: flex;
  border: none!important;
  padding: 0;
}

.observation {
  max-width: 7rem;
  white-space: nowrap; // Impede que a linha de texto seja quebrada
  padding: 0 0.5rem;
  overflow-x: auto;
}

.visit-icon {
  background: url("../../images/icons/VisitB.svg") center no-repeat;
  background-size: 1rem;
}

.group-icon {
  background: url("../../images/icons/VisitGroup.png") center no-repeat;
  background-size: 1.5rem;
}

.lunch-icon {
  background: url("../../images/icons/Lunch.svg") center no-repeat;
  background-size: 1rem;
}

.invert-color {
  filter: invert(100%);
}
