@import "../../styles/mixins.scss";

@media (max-width: 1200px) {
  .dashboard {
    display: none!important;
  } 
}

.dashboard {
  display: flex;
  width: 100%;
  margin: 1rem;
  max-width: 1200px;
  flex-direction: column;
  margin: auto;

  &-title {
    text-align: start;
    
    &:first-child {
      margin: 1rem;
    }
  }

  &__content {
    display: flex;
    gap: 1rem;
    height: 391px;
  }

  &__box1, &__box2, &__box3 {
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
    width: 100%;
  }

  &__box1 {
    max-width: 320px;

    &-info {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      height: 48%;
      justify-content: center;
      align-items: center;
      border: 1px solid #E9EAF3;
      filter: drop-shadow(0px 2px 10px rgba(25, 93, 194, 0.07));
      border-radius: 10px;

      h1 {
        font-size: 48px;
        font-weight: bold;
      }

      h2 {
        font-weight: normal;
      }

      div {
        display: flex;
        width: 80%;
        gap: 1rem;
        align-items: center;

        h1 {
          font-size: 40px;
        }

        svg {
          width: 36px;
          height: 36px;

          &:nth-child(1) {
            width: 33px;
            height: 33px;
          }
        }
      }
    }
  }

  &__box2 {
    background-color: #fff;
    border: 1px solid #E9EAF3;
    filter: drop-shadow(0px 2px 10px rgba(25, 93, 194, 0.07));
    align-items: center;
    justify-content: center;
    max-width: 320px;

    &-icon {
      border-radius: 50%;
      background-color: #F1F1F1;
      display: flex;
      align-items: center;
      max-width: 87px;
      padding: 1rem;

      path {
        fill: #313131;
      }
    }

    &-visits {
      display: flex;
      gap: 1rem;
      width: 70%;
      flex-direction: column;

      li {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
      }

      &-info {
        display: flex;
        gap: 1rem;
        align-items: center;
      }
    }
  }

  &__box3 {
    background-color: #fff;
    border: 1px solid #E9EAF3;
    filter: drop-shadow(0px 2px 10px rgba(25, 93, 194, 0.07));
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
}

.visit-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.7rem;

  svg {
    width: 30px;
    height: 30px;
    fill: #fff;
  }
}