.container-schedules {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  .title-schedule {
    padding: 2.5rem 0 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-size: 2rem;
    }
  }

.buttons-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: 650px) {
    gap: 1.5rem;
  }

  &:first-child {
    margin-top: 2rem;
  }

}

  .content-schedule {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 100%;

    .box-schedule {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 0.5rem 0;

      .visits{background-color: #006633;}
      .finance{background-color: #3163eb;}
      .prospection{background-color: #404040;}
      .alert {background-color: #f39200;}
      .fuel {background-color: #ad1717;}
      .cache {background-color: #2c2c2c;}

      .card {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 15rem;
        border-radius: 10px;
        list-style: none;
        color: #fff;
        cursor: pointer;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
        flex-direction: row;

        &:hover {
          transform: scale(1.1);
        }

        &__content {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 1rem;
          text-decoration: none;
          color: #fff;
          align-items: center;
        }

        &__text {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          padding: 2rem 1rem 1rem 1rem;
          flex-wrap: wrap;
          justify-content: center;

          p {
            display: flex;
            font-size: 1.7rem;
            justify-content: center;
          }

          svg {
            margin: auto;
            width: 3rem;
            height: 3rem;
          }
        }
      }

      .schedule {
        display: flex;
        align-items: center;
        width: 300px;
        border-radius: 10px;
        list-style: none;
        height: 6rem;
        cursor: pointer;
        border: 1px solid #E9EAF3;
        background: #FFF;
        box-shadow: 0px 2px 10px 0px rgba(25, 93, 194, 0.07);

        a {
          color: #000;
          text-decoration: none;
        }

        &:hover {
          transform: scale(1.1);
        }

        &__button {
          display: flex;
          width: 100%;
          justify-content: flex-end;

          button {
            border: none;
            width: 2rem;
            height: 2rem;
            background: url(../../images/icons/CloseW.svg) red center no-repeat;
            background-size: 1rem;
          }
        }

        &__content {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
        }

        &__text-box {
          display: flex;
          width: 100%;
          height: 100%;
        }

        &__text {
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          p {
            display: flex;
            font-size: 1.2rem;
            justify-content: center;
          }
        }

        &__close {
          width: 100%;
          display: flex;
          justify-content: flex-end;
        }

        &__icon {
          display: flex;
          width: 8rem;
          height: 100%;
          border-radius: 10px;
          background-size: 3rem;

          svg {
            width: 60%;
            height: 60%;
            margin: auto;
            fill: #fff;
          }
        }
      }
    }

    .add-schedule {
      &__btn {
        width: 3rem;
        height: 3rem;
        background: url(../../images/icons/Add.svg) #f39200 50% no-repeat;
        background-size: 1rem;
        border: none;
        border-radius: 50%;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;

        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }
}
