.container-schedules {
  display: flex;
  flex-direction: column;

  .title-schedule {
    color: #fff;
    padding: 4rem 0;
    box-shadow: inset 0 4px 4px rgb(0 0 0 / 25%);
    background: linear-gradient(
        179.7deg,
        #f39200 0.26%,
        rgba(243, 146, 0, 0) 298.07%
      ),
      #d9d9d9;

    h2 {
      font-size: 2rem;
    }
  }

  .content-schedule {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 100%;

    .box-schedule {
      display: flex;
      width: 90%;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 3rem 0;
      gap: 4rem;

      .schedule {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 15rem;
        border-radius: 10px;
        list-style: none;
        height: 15rem;
        color: #fff;
        background-color: #006633;
        cursor: pointer;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;

        &:hover {
          transform: scale(1.1);
        }

        &__button {
          display: flex;
          width: 100%;
          justify-content: flex-end;

          button {
            border: none;
            width: 2rem;
            height: 2rem;
            background: url(../../images/icons/CloseW.svg) red center no-repeat;
            background-size: 1rem;
          }
        }

        &__content {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 1rem;
          align-items: center;
        }

        &__text {
          p {
            font-size: 1.7rem;
          }
        }

        &__close {
          width: 100%;
          display: flex;
          justify-content: flex-end;
        }

        &__icon {
          width: 3rem;
          height: 3rem;
          background: url(../../images/icons/Schedule.svg) no-repeat;
          background-size: 3rem;
        }
      }
    }

    .add-schedule {
      &__btn {
        width: 3rem;
        height: 3rem;
        background: url(../../images/icons/Add.svg) #f39200 50% no-repeat;
        background-size: 1rem;
        border: none;
        border-radius: 50%;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;

        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }
}
