.check_form {
  margin-top: 1rem;
  width: 100%;
  justify-content: center;

  div > span {
    font-size: 0.9rem!important;
  }
}

.dialog{
  h2 {
    padding-top: 2rem;
  }
  
  >p {
    margin-bottom: 1rem;
  }
}

.label_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.label_last {
  margin: 0.5rem 0;
}

  div {
    span {
      margin-left: 0.7rem;
      font-size: 0.8rem;
    }

    .input_telefone {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0.2rem 0;
      gap: 0.2rem;
      
      input {
        padding: 16.5px 0.7rem;
        border: 1px solid #ccc;
        border-radius: 5px;

        &:hover {
          border: 1px solid #111;
        }
  
        &:focus {
          border: 2px solid #111;
        }
      }

    }

    .input_endereco {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0.2rem 0;
      gap: 0.2rem;
    }

    .input_file {
      display: flex;
      gap: 1rem;
      margin: 0.3rem 0 1rem 0;
      justify-content: center;
      align-items: center;
    }

// Img da Fatura

.fatura_container {
  display: flex;
  height: 100%;
  justify-content: center;
}

.fatura {
  margin: 4rem 0 2rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100%;
  }

  &_buttons {
    justify-content: center;
    margin-bottom: 1rem;
  }
}

    // .color {
    //   padding: 0;
    //   height: 50.6px;
    //   border-radius: 5px;
    //   -webkit-appearance: none;
    //   -moz-appearance: none;
    //   appearance: none;
    //   border: none;
    //   cursor: pointer;

    //   &:focus{
    //     border: none;
    //   }

    //   &::-webkit-color-swatch {
    //     border-radius: 5px;
    //     border: none;
    //   }

    //   &::-moz-color-swatch {
    //     border-radius: 5px;
    //     border: none;
    //   }
    // }

    // .name_color {
    //   position: relative;
    //   color: #fff;
    //   top: -2.5rem;
    //   text-align: center;
    //   width: fit-content;
    // }
  }

// .label_content2 {
//   width: 100%;
//   display: flex;
//   padding: 1rem 0;
//   border-radius: 5px;
//   display: flex;
//   flex-direction: column;
//   border: 1px solid #7e7e7e;
//   justify-content: center;

//   .input_endereco_full {
//     width: 95%;
//     margin: 0.2rem auto;
//     display: flex;
//     align-items: center;
//   }

//   .input_endereco {
//     width: 95%;
//     margin: 0.2rem auto;
//     display: flex;
//     gap: 1rem;
//     align-items: center;
//   }
// }