@import '../../styles/mixins.scss';

@media (max-width: 800px) {
  .box-visit {width: 100vw}
}

.pac-container { // Box do Google AutoComplete
  width: 25rem!important;
}

.box-visit {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    &__box {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        border-radius: 5px;
        box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
        background-color: #fff;

        h4 {
            font-size: 1.5rem;
            background-color: #313131;
            padding-bottom: 1.5rem;
            color: #fff;
        }

    }
    
    &__close {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        background-color: #313131;
        border-radius: 5px 5px 0 0;
  
        .btn-close {
          width: 34px;
          height: 34px;
          background: url(../../images/icons/CloseW.svg) 50% no-repeat;
          background-size: 1rem;
          border: none;
        }
      }

    &__container {
        margin: 1rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;

        .label {
            width: 20%;
            @include responsive(0, 1024px) {
                width: 45%;
            }

            &__input {
                margin: 1rem 0;
                width: 80%;
                padding: 1rem;
                border-radius: 5px;
                background-color: #eee;
                border: none;
                transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
                text-align: center;
        
                &:disabled {
                  color: #000;
                  background-color: #d1d1d1;
                }
        
                &:focus {
                  border-bottom: 2px solid #f39200;
                }
        
            }

            .notice {
              --cooltipz-font-size: 0.8rem;
            }

            .red {
              color: red;
            }

            .time {
              padding: 0.9rem 1rem;
            }

            &__select {
                width: 98%;
                margin: 1rem 0;
                padding: 1rem 0;
                border: none;
                border-radius: 5px;
                color: #60666d;
                font-size: 1rem;
                appearance: none;
                background: url(../../images/icons/Arrow.svg) #eee 90% no-repeat;
                background-size: 1rem;
                text-align: center;
                text-transform: capitalize;
                transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;

                &:disabled {
                  color: #000;
                  background-color: #d1d1d1;
                  opacity: 1;
                }
                
                &:focus,
                &:hover {
            outline: none;
          }
            }
        }
    }

    &__form {
      width: 100%;
      display: flex;
      gap: 0.7rem;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 0.5rem;
        padding: 1rem 0;
        border-radius: 5px;
        border: 1px solid #eee;
        width: 80%;
        background-color: whitesmoke;
  
        span {
          margin-bottom: 1rem;
        }

        .notice {
          margin-bottom: 0.5rem;
          display: flex;
          justify-content: center;
          gap: 0.4rem;
          align-items: center;
        }

        .saida {fill: #189c5a;}
        .chegada {fill: #bf2a39;}

        .saida, .chegada {
          padding: 0.2rem;
          border-radius: 5px;
          background: none;
        }
  
      }

    &__btn {
        margin-bottom: 1.5rem;
        @include btnForm(#fff, #313131, 40%);
    }

    .title-visits {
      width: 100%;
    }
}