@media (max-width: 800px) {
  .box-visit {
    width: 100vw;
  }
}
.pac-container {
  width: 25rem !important;
}

.check-icon {
  width: 24px;
  height: 24px;
}

.box-visit {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 1rem;
}
.box-visit__box {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  border-radius: 5px;
  border: 1px solid #E9EAF3;
  filter: drop-shadow(0px 2px 10px rgba(25, 93, 194, 0.07));
  border-radius: 10px;
  background-color: #fff;
}
.box-visit__box h4 {
  font-size: 1.5rem;
  background-color: #313131;
  padding-bottom: 1.5rem;
  color: #fff;
}
.box-visit__close {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: #313131;
  border-radius: 5px 5px 0 0;
}
.box-visit__close .btn-close {
  width: 34px;
  height: 34px;
  background: url(../../images/icons/CloseW.svg) 50% no-repeat;
  background-size: 1rem;
  border: none;
}
.box-visit__container {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.box-visit__container .label {
  width: 20%;
}
@media screen and (min-width: 0) and (max-width: 1024px) {
  .box-visit__container .label {
    width: 45%;
  }
}
.box-visit__container .label .select {
  margin: 1rem 0;
}
.box-visit__container .label .select > div {
  padding: 0.35rem 0;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}
.box-visit__container .label-max {
  width: 100%;
  margin: 1rem;
}
.box-visit__container .label__input {
  width: 80%;
}
.box-visit__container .label__textarea {
  width: 100%;
  padding: 1rem 0;
  height: 5rem;
  min-height: 5rem;
  max-height: 5rem;
  max-width: 26rem;
  font-family: Arial, Helvetica, sans-serif;
}
.box-visit__container .label__input, .box-visit__container .label__textarea {
  margin: 1rem 0;
  padding: 1rem;
  font-size: 16px;
  border-radius: 5px;
  background-color: #eee;
  border: 1px solid hsl(0, 0%, 80%);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
}
.box-visit__container .label__input:disabled, .box-visit__container .label__textarea:disabled {
  color: #000;
  background-color: #d1d1d1;
}
.box-visit__container .label__input:focus, .box-visit__container .label__textarea:focus {
  border: none;
  outline: none;
}
.box-visit__container .label .notice {
  --cooltipz-font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  height: 1.2rem;
}
.box-visit__container .label .notice svg {
  scale: 0.8;
  opacity: 0.3;
  fill: #111;
}
.box-visit__container .label .red {
  color: red;
}
.box-visit__container .label .time {
  padding: 0.9rem 1rem;
}
.box-visit__container .label__select {
  width: 98%;
  margin: 1rem 0;
  padding: 1rem 0;
  border: none;
  border-radius: 5px;
  color: #60666d;
  font-size: 1rem;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background: url(../../images/icons/Arrow.svg) #eee 90% no-repeat;
  background-size: 1rem;
  text-align: center;
  text-transform: capitalize;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}
.box-visit__container .label__select:disabled {
  color: #000;
  background-color: #d1d1d1;
  opacity: 1;
}
.box-visit__container .label__select:focus, .box-visit__container .label__select:hover {
  outline: none;
}
.box-visit__form {
  width: 100%;
  display: flex;
  gap: 0.7rem;
  flex-wrap: wrap;
  justify-content: center;
}
.box-visit__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0.5rem;
  padding: 1rem 0;
  border-radius: 5px;
  border: 1px solid #eee;
  width: 80%;
  background-color: whitesmoke;
}
.box-visit__info span {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
.box-visit__info .notice {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  align-items: center;
}
.box-visit__info .saida {
  fill: #189c5a;
}
.box-visit__info .chegada {
  fill: #bf2a39;
}
.box-visit__info .saida, .box-visit__info .chegada {
  padding: 0.2rem;
  border-radius: 5px;
  background: none;
}
.box-visit__btn {
  margin-bottom: 1.5rem;
  width: 40%;
  padding: 1rem;
  border-radius: 5px;
  color: #fff;
  background-color: #313131;
  letter-spacing: 0.08em;
  border: none;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}
.box-visit__btn:hover {
  filter: contrast(1.5);
}
.box-visit .title-visits {
  width: 100%;
}
.box-visit .error-aviso {
  background-color: #ffe6e6 !important;
  border: 1px solid red !important;
}
.box-visit .check {
  border: 1px solid #4cb817;
  background-color: #f3ffed;
}
.box-visit .check-icon {
  opacity: 1 !important;
  fill: #42a312 !important;
}
.box-visit .check-input {
  border: 1px solid #4cb817;
}/*# sourceMappingURL=style.css.map */