@import '../../styles/mixins.scss';

@media (max-width: 800px) {
  .box-visit {width: 100vw}
}

.pac-container { // Box do Google AutoComplete
  width: 25rem!important;
}

.check-icon {
  width: 24px;
  height: 24px;
}

.box-visit {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;

    &__notice {
      margin-bottom: 0.3rem;
      color: #565656;
      font-weight: bold;
      font-size: 0.8rem;
    }

    &__box {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        border-radius: 5px;
        border: 1px solid #E9EAF3;
        filter: drop-shadow(0px 2px 10px rgba(25, 93, 194, 0.07));
        border-radius: 10px;
        background-color: #fff;

        h4 {
            font-size: 1.5rem;
            background-color: #313131;
            padding-bottom: 1.5rem;
            color: #fff;
        }

    }
    
    &__close {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        background-color: #313131;
        border-radius: 5px 5px 0 0;
  
        .btn-close {
          width: 34px;
          height: 34px;
          background: url(../../images/icons/CloseW.svg) 50% no-repeat;
          background-size: 1rem;
          border: none;
        }
      }

    &__container {
        margin: 1rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;

        .label {
            width: 20%;

            @include responsive(0, 1024px) {
                width: 45%;
            }

            p {
              text-align: center;
            }

            .select {
              margin: 1rem 0;
              
              &>div {
                padding: 0.35rem 0;
                transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
              }
            }

            &-max {
              width: 100%;
              margin: 1rem;
            }

            &__input {
              width: 80%;
              background-color: #fafafa;
              border: 1px solid hsl(0, 0%, 80%);
            }

            &__textarea {
              width: 80%;
              padding: 1rem 0;
              height: 5rem;
              min-height: 5rem;
              max-height: 5rem;
              max-width: 90%;
              font-family: Arial, Helvetica, sans-serif;
              background-color: #ffd;
            }

            &__input, &__textarea {
                margin: 1rem 0;
                padding: 1rem;
                font-size: 16px;
                border-radius: 5px;
                border: 1px solid hsl(0, 0%, 80%);
                transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
                
        
                &:disabled {
                  color: #000;
                  background-color: #f7f7f7;
                }

                &:focus {
                  outline: none;
                }
            }

            .notice {
              --cooltipz-font-size: 0.8rem;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 0.2rem;
              height: 1.2rem;

              svg {
                scale: 0.8;
                opacity: 0.3;
                fill: #111;
              }
            }

            .red {
              color: red;
            }

            .time {
              padding: 0.9rem 1rem;
            }

            &__select {
                width: 98%;
                margin: 1rem 0;
                padding: 1rem 0;
                border: none;
                border-radius: 5px;
                color: #60666d;
                font-size: 1rem;
                -webkit-appearance: none!important;
                -moz-appearance: none!important;
                appearance: none!important;
                background: url(../../images/icons/Arrow.svg) #eee 90% no-repeat;
                background-size: 1rem;
                text-align: center;
                text-transform: capitalize;
                transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;

                &:disabled {
                  color: #000;
                  background-color: #d1d1d1;
                  opacity: 1;
                }
                
                &:focus,
                &:hover {
            outline: none;
          }
            }
        }

        .button-edit {
          margin-top: 1rem ;
          display: flex;
          justify-content: center;
          gap: 1rem;
        }
    }

    &__form {
      width: 100%;
      display: flex;
      gap: 0.7rem;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 0.5rem;
        padding: 1rem 0;
        border-radius: 5px;
        border: 1px solid #eee;
        width: 80%;
        background-color: whitesmoke;
  
        span {
          margin-bottom: 0.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.3rem;
        }

        .notice {
          margin-bottom: 0.5rem;
          display: flex;
          justify-content: center;
          gap: 0.4rem;
          align-items: center;
        }

        .saida {fill: #189c5a;}
        .chegada {fill: #bf2a39;}

        .saida, .chegada {
          padding: 0.2rem;
          border-radius: 5px;
          background: none;
        }
  
      }

    &__btn {
        margin-bottom: 1.5rem;
        @include btnForm(#fff, #313131, 40%);
    }

    .title-visits {
      width: 100%;
    }

    .error-aviso {
     background-color:#ffe6e6!important;
     border: 1px solid red!important;
    }

    .check { // Estilo de confirmação
      border: 1px solid #4cb817;
      background-color: #f3ffed;

        &-icon {
          opacity: 1!important;
          fill: #42a312!important;
        }

        &-input {
          border: 1px solid #4cb817;
        }
    }
}