@media (min-width: 900px) and (max-width: 1360px) {
  html {
    font-size: 15px!important;
  }
}

/* Scroll bar */
* {
  margin: 0;
  padding: 0;
  // scrollbar-width: thin;
  // scrollbar-color: #000 #fff;

  // &::-webkit-scrollbar {
  //   width: 20px;
  // }

  // &::-webkit-scrollbar-track {
  //   background: #fff;
  // }

  // *::-webkit-scrollbar-thumb {
  //   background-color: #000;
  //   border-radius: 10px;
  //   border: 5px solid #fff;
  // }
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo-IEB {
  width: 252px;
}

button, input[type="submit"], select {
  cursor: pointer;
}

input:focus {
  outline: none;
}

.message-error {
  color: red;
  position: relative;
  margin-top: 0.2rem;
}

.border-none {
  border: none!important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:disabled {
  cursor: not-allowed;
}

.cursor-help {
  cursor: help!important;
}

.no-wrap {
  white-space: nowrap;
  padding: 0 0.5rem;
}
