@import './styles/mixins.scss';

@media (min-width: 900px) and (max-width: 1360px) {
  html {
    font-size: 15px!important;
  }
}

/* Scroll bar */
* {
  margin: 0;
  padding: 0;
  // scrollbar-width: thin;
  // scrollbar-color: #000 #fff;

  // &::-webkit-scrollbar {
  //   width: 20px;
  // }

  // &::-webkit-scrollbar-track {
  //   background: #fff;
  // }

  // *::-webkit-scrollbar-thumb {
  //   background-color: #000;
  //   border-radius: 10px;
  //   border: 5px solid #fff;
  // }
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #f5f5f5;;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo-IEB {
  width: 252px;
}

button, input[type="submit"], select {
  cursor: pointer;
}

input:focus {
  outline: none;
}

.message-error {
  color: red;
  position: relative;
  margin-top: 0.2rem;
}

.border-none {
  border: none!important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:disabled {
  cursor: not-allowed;
}

.cursor-help {
  cursor: help!important;
}

.no-wrap {
  white-space: nowrap;
  padding: 0 0.5rem;
}

.my-validation-message::before {
  display: none;
}

.my-validation-message i {
  margin: 0 .4em;
  color: #f27474;
  font-size: 1.4em;
}

.list-visit {
  width: 100%;
  gap: 0.6rem!important;

  @media (max-width: 900px) {
    width: 140%!important;
  } 

  .btn-add {
    @include btnTable("./images/icons/Add.svg", #f39200, 25px);
    border: 1px solid #f39200 !important;
    height: 35px;
    padding: 0 0.2rem;
  }

  .btn-confirm {
    @include btnTable("./images/icons/Confirm.svg", #0eb05f, 25px);
    border: 1px solid #0eb05f !important;
    height: 35px;
    padding: 0 0.2rem;
  }

  .btn-cancel {
    @include btnTable("./images/icons/CloseW.svg", #474747, 25px);
    border: 1px solid #474747 !important;
    height: 35px;
    padding: 0 0.2rem;
  }

  .saida, .chegada {background-color: #e2e2e2;}
  .tecnico {background-color: #171717; color: #fff;}
  .cidade {background-color: #b00505; color: #fff;}

  .saida, .chegada, .tecnico, .cidade {
    border-radius: 5px;
    padding: 0.5rem;
    font-weight: bold;
  }
}

.visit-aviso {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  height: 200px;
  color: #cdcdcd;
}

.conjunta {
  background-color: #f2fabf;
}

.confirmar {
  background-color: #7cebb4a3;
}
