* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo-IEB {
  width: 252px;
}

button, input[type="submit"], select {
  cursor: pointer;
}

input:focus {
  outline: none;
}

.message-error {
  color: red;
  position: relative;
  margin-top: 0.2rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
